#include "resource.h"
#include <windows.h>

IDR_MYMENU MENU
BEGIN
    POPUP "&Game"
    BEGIN
        MENUITEM "&Reset", ID_GAME_RESET
        MENUITEM "E&xit", ID_FILE_EXIT
    END
END

// Încărcarea imaginilor BMP
// Sintaxa: ID_NUME BITMAP "calea/fisier.bmp"
IDB_BACK BITMAP "images/backCard.bmp"
IDB_IMG1 BITMAP "images/img1.bmp"
IDB_IMG2 BITMAP "images/img2.bmp"
IDB_IMG3 BITMAP "images/img3.bmp"
IDB_IMG4 BITMAP "images/img4.bmp"
